@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AMB</h1>
    <p class="lead">AMB Contabilidade é um poderoso aplicativo 100% Web.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vamos começar!</h2>
        <p>
            A AMB traz para você uma poderosa ferramenta de trabalho, proporcionando um dinamismo sem precedentes em se tratando de facilidade de manuseio, com telas claras, simples e altamente intuitivas.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cloud Computing</h2>
        <p>Banco de dados na nuvem proporciona grande vantagem nos quesitos segurança e economia.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Totalmente Web</h2>
        <p>Você poderá acessar suas ferramentas contábeis por celulares, tablets e computadores de qualquer lugar do mundo!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
</div>